@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scrollbar-width: none;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  color: inherit;
  text-decoration: none;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
  ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }
}