.add{
    font-size: 16px;
    margin-top: 50px;
    color: #6d6d6d;
    padding: 0 20px;
    width: 100%;
}


.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add form{
    gap:20px;
}

.add-img-upload img{
    width: 120px;
}

.add-product-name, .add-product-description{
    width: max(40%,280px);
}

.add-product-name input, .add-product-description textarea{
    padding: 10px;
    outline: none;
}

.add-product-categroy-price{
    display: flex;
    gap: 30px;
}

.add-product-categroy select, .add-product-price input{
    padding: 10px;
    max-width: 120px;
    outline: none;
}

.add-btn{
    background-color: black;
    color: white;
    max-width: 120px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

